

<h1>視聴済みの作品</h1>

 
  
 <table border="2">
  <tr>
    <th>作品ID</th><th>作品名</th><th>視聴日時</th>
  </tr>
  <% @contents.each do |content| %>
  <tr>
    <td><%= content.id %></td><td><%= link_to(content.name, "/contents/#{content.id}") %></td><td><%= content.watchedday %></td>
  </tr>
 
  <% end %>
</table>