<h1><%= link_to(@actor.name, "/actors/#{@actor.id}") %></h1>


<br>
<h1>出演作品</h1>
<br>
      <% @actor.contents.each do |content| %>
      <%= link_to(content.name, "/contents/#{content.id}") %>
      <%= content.created_at %>
      <br>
　　　<% end %>
<br>
    

