

<h1>ユーザー一覧</h1>

 
  
 <table border="2">
  <tr>
    <th>ユーザーID</th><th>ユーザー名</th><th>メールアドレス</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td><td><%= link_to(user.name, "/users/#{user.id}") %></td><td><%= user.email %></td>
  </tr>
 
  <% end %>
</table>