<h1>アプリ説明</h1>
<p>①視聴した映画、ドラマ(以下、作品とする)を記録するアプリです。</p>
<p>②自分だけが使用することを想定しています。</p>
<p>③ログイン機能を用いて許可されたユーザー(自分)以外は</p>
<p>　編集ができないように設定してあります。</p>
<p>④テスト用にユーザー名"admin",パスワード"admin"でログインできるユーザーは</p>
<p>　特別に編集ができるように設定しました。</p>
<h2>目的</h2>
<p>①作品とそのキャストを記録し、</p>
<p>　これから見る作品をより楽しめるようにする。</p>
<p>②自分は、どのキャストが出ている作品を</p>
<p>　多く視聴しているかを確認する。</p>
<p>③自分が視聴した作品を他人に公開する手段を作る。</p>
<p></p>
<h2>主な機能</h2>
<p>①視聴した作品の記録(作品名、視聴日)</p>
<p>②作品に出演しているキャストの記録</p>
<p>③作品とキャストの多対多の関連付け</p>
<p>④ユーザー機能を用いた制限</p>
<h2>特徴、力を入れたポイント</h2>
<p>①作品、キャストの相互リンク</p>
<p>②キャストの一覧を、自分が視聴した作品に出演している回数が</p>
<p>　多い順に並び替える</p>
<p>③ユーザー機能による編集の制限</p>
<h3>使用言語</h3>
<p>Ruby</p>
<h3>フレームワーク</h3>
<p>Ruby on Rails</p>