<h1>アプリ説明</h1>
<p>①これは、自分専用のアプリです。</p>
<p>②(ログイン機能を用いて許可されたユーザー以外は</p>
<p>　編集ができないように設定してあります)</p>
<p>③テスト用にユーザー名"admin",パスワード"admin"でログインできるユーザーは</p>
<p>　特別に編集ができるように設定しました。</p>
<h2>目的</h2>
<p>①視聴した映画、ドラマ(以下、作品とする)とそのキャストを記録し、</p>
<p>　これから見る作品をより楽しめるようにする。</p>
<p>②自分は、どのキャストが出ている作品を</p>
<p>　多く視聴しているかを確認する。</p>
<p>③自分が視聴した作品を他人に公開する。</p>
<p></p>
<h2>機能</h2>
<p>①視聴した作品の記録(作品名、視聴日)</p>
<p>②作品に出演しているキャスト達の記録</p>
<p>③作品とキャストの多対多の関連付け</p>
<p>④ユーザー機能(ユーザー作成、ログイン、ログアウト)</p>
